{% extends "base.html" %}
{% block title %}新增用例{% endblock %}
{% load staticfiles %}
{% block content %}

    <div class=" admin-content">

        <div class="admin-biaogelist">
            <div class="listbiaoti am-cf">
                <ul class="am-icon-flag on"> 新增用例</ul>
                <dl class="am-icon-home" style="float: right;"> 当前位置： 用例管理 > <a href="#">新增用例</a></dl>
            </div>
            <div class="fbneirong">
                <form class="form-horizontal" id="add_case">
                    <div class="form-group  has-feedback">
                        <label class="control-label col-md-2 text-primary" for="case_name">用例名称：</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" id="case_name"
                                   aria-describedby="inputSuccess3Status" name="case_name" placeholder="请输入用例名称"
                                   value="">
                            <span class="glyphicon glyphicon-th-list form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 text-primary" for="belong_project">所属项目：</label>
                        <div class="col-md-5">
                            <select id='belong_project' name="belong_project" class="form-control"
                                        onchange="auto_load('#add_case', '{% url 'choose' %}',
                                                '#belong_module_id', 'module')">
                                <option value="请选择">请选择</option>
                                {% for foo in project_data %}
                                    <option value="{{ foo.project_name }}">{{ foo.project_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 text-primary" for="belong_module">所属模块：</label>
                        <div class="col-md-5">
                            <select id="belong_module_id" name="belong_module" class="form-control"
                                        onchange="auto_load('#add_case', '{% url 'choose' %}',
                                                '#prepos_case_id,#postpos_case_id', 'case')">
                            </select>
                        </div>
                    </div>

                    <div class="form-group  has-feedback">
                        <label class="control-label col-md-2 text-primary" for="author">所有者：</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" id="author" name="author"
                                   aria-describedby="inputSuccess3Status" placeholder="请输入所有者" value="{{ account }}">
                            <span class="glyphicon glyphicon-user form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="form-group  has-feedback">
                        <label class="control-label col-md-2 text-primary" for="case_desc">用例描述：</label>
                        <div class="col-md-5">
                            <textarea type="text" rows="3" class="form-control" id="case_desc" name="case_desc"
                                      aria-describedby="inputSuccess3Status" placeholder="用例描述"></textarea>
                            <span class="glyphicon glyphicon-paperclip form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="form-group  has-feedback">
                        <label class="control-label col-md-2 text-primary" for="prepos_case">前置用例：</label>
                        <div class="col-md-5">
                            <select id="prepos_case_id" name="prepos_case" class="form-control">
                            </select>
                        </div>
                    </div>

                    <div class="form-group  has-feedback">
                        <label class="control-label col-md-2 text-primary" for="postpos_case">后置用例：</label>
                        <div class="col-md-5">
                            <select id="postpos_case_id" name="postpos_case" class="form-control">
                            </select>
                        </div>
                    </div>

                    <div class="form-group  has-feedback">
                        <label class="control-label col-md-2 text-primary" for="is_execute">是否执行：</label>
                        <div class="col-md-5 controls">
                            <input type="checkbox" id="is_execute" name="is_execute" checked/>
                        </div>
                    </div>
                    <div class="am-form-group am-cf">
                        <div class="you" style="margin-left: 17%;">
                            <a type="submit" href="{% url 'case_list' id=1 %}" class="am-btn am-btn-secondary am-radius">用例列表</a>
                            &laquo; &nbsp;
                            <button type="button" class="am-btn am-btn-success am-radius"
                                    onclick="add_data_ajax('#add_case', '{% url 'add_case' %}')">点 击 提 交
                            </button>&nbsp;
                            &raquo; &nbsp;
                            <a type="submit" href="/api/add_case/" class="am-btn am-btn-secondary am-radius">新 增 脚本</a>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        $(document).ready(function(){
            $("#is_execute").bootstrapSwitch();
        });

        $("#is_execute").on('switchChange.bootstrapSwitch', function (event,data) {
            {# 后台只识别首写字母为大写的boolean #}
            $("#is_execute").attr('value', data);
        });

    </script>
{% endblock %}